.slider{
  height: 550px;
}
@media (max-width: 768px){
  .slider{
    height: 300px;
   }
}
.container-silsa{
  transition: 0.5s;
}
.container-silsa:hover{
  background-color: rgb(212, 212, 212);
}
.img-index{
  background-image: url('../../../../assets/img/background-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
}
