<div>
  <!-- Imagen de servicios -->
  <img src="../../../../assets/img/servicios.png" alt="servicios" class="w-full">
  <div class="mt-10">
    <!-- Encabezado "Agenda una cita" -->
    <div class="flex justify-center items-center gap-3 mb-8">
      <img src="../../../../assets/img/flaticon.png" alt="">
      <h2 class="text-5xl font-serif text-blue-900">Agenda una cita</h2>
    </div>
  </div>
  <div class="flex justify-center">
    <!-- Formulario para datos del cliente -->
    <form [formGroup]="formData" class="bg-gray-200 p-8 lg:w-2/5 rounded-md flex flex-col gap-3" *ngIf="!next">
      <div class="flex flex-col">
        <label for="nombre" class="text-lg">Nombre</label>
        <input formControlName="name" type="text" placeholder="Ejem.Juan perez" class="rounded-md">
      </div>
      <div class="flex flex-col">
        <label for="email" class="text-lg">Correo electronico</label>
        <input formControlName="email" type="email" placeholder="Ejem.Juan@gmail.com" class="rounded-md">
      </div>
      <div class="flex flex-col">
        <label for="telefono" class="text-lg">Numero de telefono</label>
        <input formControlName="cellphone" type="number" placeholder="Ejem.7894561230" class="rounded-md">
      </div>
      <div class="flex flex-col">
        <label for="asunto" class="text-lg">Asunto</label>
        <textarea formControlName="message" name="asunto" id="" cols="30" rows="10" placeholder="Asunto..." class="rounded-md"></textarea>
      </div>
      <div>
        <!-- Botón para pasar al siguiente paso del formulario -->
        <button class="px-3 py-2 bg-blue-700 text-white rounded-md" (click)="changeForm()" [disabled]="formData.invalid">Siguiente</button>
      </div>
    </form>

    <!-- Formulario para seleccionar día y horario de la cita -->
    <form *ngIf="next" class="flex flex-col gap-4 bg-gray-200 p-8 rounded-md">
      <p>Selecciona un dia para tu cita:</p>
      <!-- Lista de días del mes -->
      <ul class="grid grid-cols-7 gap-5 border-2 border-red-800 p-4 rounded-md text-center border-opacity-50 bg-white">
        <li class="col-span-7 font-bold">Abril 2024</li>
        <li>Do</li>
        <li>Lu</li>
        <li>Ma</li>
        <li>Mi</li>
        <li>Ju</li>
        <li>Vi</li>
        <li>Sa</li>
        <!-- Se itera sobre los días disponibles -->
        <li *ngFor="let item of dias"
          [ngClass]="{'bg-green-500 rounded-sm cursor-pointer hover:bg-green-400':dayFound(item)}"
          (click)="showHorario(item)">{{item}}</li>
      </ul>
      <div>
        <!-- Formulario para seleccionar el horario de la cita -->
        <form [formGroup]="formHorario" class="flex flex-col gap-1">
          <label for="">Selecciona un horario para tu cita:</label>
          <select name="" id="" formControlName="id">
            <!-- Se muestran las opciones de horarios disponibles -->
            <option value="" disabled selected>Selecciona una opcion</option>
            <option [value]="item.id" *ngFor="let item of horarios">{{item.hora}}</option>
          </select>
        </form>
      </div>
      <div class="flex justify-between">
        <!-- Botón para cancelar la cita -->
        <button class="bg-red-600 p-2 rounded-md text-white" (click)="changeForm()" type="button">Cancelar</button>
        <!-- Botón para confirmar la cita -->
        <button class="bg-blue-700 p-2 rounded-md text-white" (click)="sendDataAndGetCode()" type="button">Confirmar</button>
      </div>
    </form>
  </div>
</div>
