<div>
  <img src="../../../../assets/img/servicios.png" alt="servicios" class="w-full">
  <div class="mt-10">
    <div class="flex justify-center items-center gap-3 mb-8">
      <img src="../../../../assets/img/flaticon.png" alt="">
      <h2 class="text-5xl font-serif text-blue-900">Agenda una cita</h2>
    </div>
  </div>
 <div class="flex justify-center">
  <form class="bg-gray-200 p-8 lg:w-2/5 rounded-md flex flex-col gap-3" *ngIf="!next">
    <div class="flex flex-col">
      <label for="nombre" class="text-lg">Nombre</label>
      <input type="text" placeholder="Ejem.Juan perez" class="rounded-md">
    </div>
    <div class="flex flex-col">
      <label for="email" class="text-lg">Correo electronico</label>
      <input type="email" placeholder="Ejem.Juan@gmail.com" class="rounded-md">
    </div>
    <div class="flex flex-col">
      <label for="telefono" class="text-lg">Numero de telefono</label>
      <input type="number" placeholder="Ejem.7894561230" class="rounded-md">
    </div>
    <div class="flex flex-col">
      <label for="asunto" class="text-lg">Asunto</label>
      <textarea name="asunto" id="" cols="30" rows="10" placeholder="Asunto..." class="rounded-md"></textarea>
    </div>
    <div>
      <button class="px-3 py-2 bg-blue-700 text-white rounded-md" (click)="changeForm()">Siguiente</button>
    </div>
  </form>

  <form *ngIf="next" class="flex flex-col gap-4 bg-gray-200 p-8 rounded-md">
    <p>Selecciona un dia para tu cita:</p>
    <ul class="grid grid-cols-7 gap-5 border-2 border-red-800 p-4 rounded-md text-center border-opacity-50 bg-white">
      <li class="col-span-7 font-bold">Abril 2024</li>
      <li>Do</li>
      <li>Lu</li>
      <li>Ma</li>
      <li>Mi</li>
      <li>Ju</li>
      <li>Vi</li>
      <li>Sa</li>
      <li class="bg-green-500 rounded-sm px-2">1</li>
      <li class="px-2">2</li>
      <li class="px-2">3</li>
      <li class="px-2">4</li>
      <li class="px-2">5</li>
      <li class="px-2">6</li>
      <li class="px-2 bg-green-500 rounded-sm">7</li>
      <li class="px-2">8</li>
      <li class="px-2">9</li>
      <li class="px-2">10</li>
      <li class="px-2">11</li>
      <li class="px-2">12</li>
      <li class="px-2">13</li>
      <li class="px-2">14</li>
      <li class="px-2">15</li>
      <li class="px-2 bg-green-500 rounded-sm">16</li>
      <li class="px-2">17</li>
      <li class="px-2">18</li>
      <li class="px-2">19</li>
      <li class="px-2 bg-green-500 rounded-sm">20</li>
      <li class="px-2">21</li>
      <li class="px-2">22</li>
      <li class="px-2">23</li>
      <li class="px-2">24</li>
      <li class="px-2">25</li>
      <li class="px-2">26</li>
      <li class="px-2">27</li>
      <li class="px-2 bg-green-500 rounded-sm">28</li>
      <li class="px-2">29</li>
      <li class="px-2">30</li>
      <li class="px-2">31</li>
    </ul>
    <div class="flex flex-col gap-1">
      <label for="">Selecciona un horario para tu cita:</label>
      <select name="" id="">
        <option value="" disabled selected>Selecciona una opcion</option>
        <option value="">9:00AM</option>
        <option value="">11:00AM</option>
        <option value="">01:00PM</option>
      </select>
    </div>
    <div class="flex justify-between">
      <button class="bg-red-600 p-2 rounded-md text-white" (click)="changeForm()">Cancelar</button>
      <button class="bg-blue-700 p-2 rounded-md text-white">Confirmar</button>
    </div>
  </form>
 </div>
</div>
