<div>
  <!-- Imagen de servicios -->
  <img src="../../../../assets/img/servicios.png" alt="servicios" class="w-full">
  <div class="mt-10">
    <!-- Encabezado "Agenda una cita" -->
    <div class="flex justify-center items-center gap-3 mb-8">
      <img src="../../../../assets/img/flaticon.png" alt="">
      <h2 class="text-5xl font-serif text-blue-900">Agenda una cita</h2>
    </div>
  </div>
  <div class="mx-5 md:mx-20 flex justify-center bg-gray-200 rounded-md py-5" *ngIf="!next">

    <form class="md:grid gap-3 w-4/5 md:grid-cols-3" [formGroup]="formData">
      <h3 class="text-3xl text-center md:col-span-3 mb-5 font-bold">Ingresa tus datos</h3>
      <div class="flex flex-col">
        <label for="name">Nombre</label>
        <input type="text" class="rounded-md" formControlName="name">
      </div>
      <div class="flex flex-col">
        <label for="lastname">Apellido paterno</label>
        <input type="text" class="rounded-md" formControlName="lastname">
      </div>
      <div class="flex flex-col">
        <label for="motherlastname">Apellido materno</label>
        <input type="text" class="rounded-md" formControlName="motherlastname">
      </div>
      <div class="flex flex-col col-span-2">
        <label for="email">Correo electronico</label>
        <input type="text" class="rounded-md" formControlName="email">
      </div>
      <div class="flex flex-col">
        <label for="cellphone">Numero de telefono</label>
        <input type="text" class="rounded-md" formControlName="cellphone">
      </div>
      <div class="col-span-3 flex flex-col gap-3 mt-3">
        <re-captcha [siteKey]="keyCapche" (resolved)="capchaIsResolve()"></re-captcha>
        <button class="px-3 py-2 text-white bg-blue-500 rounded-md" (click)="changeNextValue()">Continuar</button>
      </div>
    </form>
  </div>
  <div class="mx-5 md:mx-20 bg-gray-200 rounded-md py-5 px-10" *ngIf="next">
    <form class="md:grid md:grid-cols-3 gap-5" [formGroup]="formCita">
    <h3 class="text-3xl text-center col-span-3 font-bold">Detalles de la cita</h3>

    <div class="flex flex-col col-span-3">
      <label for="">Motivo de la cita</label>
      <select class="rounded-md" formControlName="asunto">
        <option value="representante">Hablar con un representante</option>
        <option value="ayuda">Ayuda con un asunto</option>
        <option value="otro">Otro</option>
      </select>
    </div>

    <div class="flex flex-col col-span-2">
      <label for="">Fechas Disponibles</label>
      <select class="rounded-md" formControlName="idHorario" (change)="addHoras(formCita.controls['idHorario'].value)">
        <option [value]="item.id" *ngFor="let item of horarios">
          {{item.dia}} - {{viewMes(item.mes)}} - {{item.anio}}
        </option>
      </select>
    </div>

    <div class="flex flex-col">
      <label for="">Horarios Disponibles</label>
      <select class="rounded-md" formControlName="idHora">
        <option value="Na">Selecciona una hora</option>
        <option [value]="item.id" *ngFor="let item of horas">{{item.hora}}</option>
      </select>
    </div>

    <div class="col-span-3 flex justify-end items-center mt-3">
      <button class="px-3 py-2 text-white bg-blue-500 rounded-md w-full" (click)="sendCodeByConfirmation()">Confirmar</button>
    </div>
    </form>
  </div>
</div>
