<div class="bg-white px-8 py-10 rounded-sm">
  <div class="flex flex-col items-center">
    <img src="../../../../assets/img/usuario.jpg" alt="" class="img-user w-40 border-2 border-gray-200 shadow-xl cursor-pointer">
  </div>
  <div class="grid grid-cols-3 gap-3 mt-10">

    <div class="flex flex-col gap-2">
      <label for="nombre" class="font-bold text-lg">Nombre</label>
      <p class="text-gray-500 border-b-2 border-gray-200">{{dataProfile.nombre}}</p>
    </div>
    <div class="flex flex-col gap-2">
      <label for="nombre" class="font-bold text-lg">Apellido Paterno</label>
      <p class="text-gray-500 border-b-2 border-gray-200">{{dataProfile.apellido}}</p>
    </div>
    <div class="flex flex-col gap-2">
      <label for="nombre" class="font-bold text-lg">Apellido Materno</label>
      <p class="text-gray-500 border-b-2 border-gray-200">{{dataProfile.apellidoM}}</p>
    </div>
    <div class="flex flex-col gap-2">
      <label for="nombre" class="font-bold text-lg">Genero</label>
      <p class="text-gray-500 border-b-2 border-gray-200">{{dataProfile.genero}}</p>
    </div>
    <div class="flex flex-col gap-2">
      <label for="nombre" class="font-bold text-lg">Correo</label>
      <p class="text-gray-500 border-b-2 border-gray-200">{{dataProfile.email}}</p>
    </div>
    <div class="flex flex-col gap-2">
      <label for="nombre" class="font-bold text-lg">Telefono</label>
      <p class="text-gray-500 border-b-2 border-gray-200">{{dataProfile.telefono}}</p>
    </div>
  </div>
</div>
