<div class="flex flex-col gap-3">

  <div class="flex justify-between items-center bg-white rounded-sm p-4">
    <h3 class="font-serif text-lg">Lista de administradores de la pagina</h3>
    <button routerLink="/admin/dashboard/new-admin" class="px-3 py-2 bg-blue-600 hover:bg-blue-500 text-white rounded-md flex gap-2 items-center"><i
        class="pi pi-user-plus"></i>Nuevo administrador</button>
  </div>

  <div class="bg-white rounded-sm p-4 flex gap-3 items-center card-user" *ngFor="let item of listAdmin">
    <img src="../../../../assets/img/usuario.jpg" alt="" class="w-28 rounded-md">
    <div class="flex justify-between items-center w-full">
      <div>
        <h3 class="text-lg font-bold">{{item.nombre + " " + item.apellido + " " + item.apellidoM}}</h3>
        <p>Administrador</p>
      </div>
      <div class="flex gap-2">
        <button (click)="deleteAdmin(item.id)" class="bg-red-500 hover:bg-red-400 px-3 py-2 rounded-md text-white flex items-center gap-2"><i class="pi pi-trash"></i>Eliminar</button>
        <button (click)="desactivatreAdmin(item.id)" *ngIf="item.status === 'activo'" class="bg-yellow-500 hover:bg-yellow-400 px-3 py-2 rounded-md text-white flex items-center gap-2"><i class="pi pi-ban"></i>Desactivar</button>
        <button (click)="activatreAdmin(item.id)" *ngIf="item.status === 'inactivo'" class="bg-green-500 hover:bg-green-400 px-3 py-2 rounded-md text-white flex items-center gap-2"><i class="pi pi-check"></i>Activar</button>
      </div>
    </div>
  </div>

</div>
