<div class=" flex flex-col gap-3 pb-5">
  <div class="bg-white p-4 rounded-sm flex justify-between items-center">
    <div class="flex gap-2 items-center">
      <p>Ordenar por:</p>
      <select name="" id="" class="rounded-md">
        <option value="">Mas nuevas</option>
        <option value="">Mas antiguas</option>
      </select>
    </div>
    <div class="flex items-center gap-3">
      <button (click)="exportExcel()" class="py-2 px-3 bg-green-600 text-white rounded-md hover:bg-green-400 flex items-center gap-2">
        <li class="pi pi-book"></li>Descargar registro
      </button>
    </div>
  </div>


  <div class="flex gap-3 bg-white px-5 py-4 rounded-md cita cursor-pointer shadow-md" *ngFor="let item of dataCitas.horarios">

    <ul class="grid grid-cols-3 gap-10">
      <li class="flex flex-col">
        <strong class="text-xl">Informacion general</strong>
        <strong class="text-lg font-serif">Fecha: </strong>{{item.fecha}}
        <strong class="text-lg font-serif">Status: </strong> {{item.status}}
        <strong class="text-lg font-serif">Solicitante: </strong> {{item.dataCita.name + " " +item.dataCita.lastname + " " + item.dataCita.motherlastname}}
      </li>
      <li class="flex flex-col">
        <strong class="text-xl">Contacto</strong>
        <strong class="text-lg font-serif">Telefono:</strong>{{item.dataCita.cellphone}}
        <strong class="text-lg font-serif">Email:</strong>{{item.dataCita.email}}
      </li>
      <li>
        <div>
          <strong class="text-xl text-center">Asunto</strong>
          <p>{{item.dataCita.asunto}}</p>
        </div>
      </li>
    </ul>

  </div>


</div>
