<div class=" flex flex-col gap-3 pb-5">
  <div class="bg-white p-4 rounded-sm flex justify-between items-center">
    <div class="flex gap-2 items-center">
      <p>Ordenar por:</p>
      <select name="" id="" class="rounded-md">
        <option value="">Mas nuevas</option>
        <option value="">Mas antiguas</option>
      </select>
    </div>
    <div class="flex items-center gap-3">
      <button class="py-2 px-3 bg-green-600 text-white rounded-md hover:bg-green-400 flex items-center gap-2">
        <li class="pi pi-book"></li>Descargar registro
      </button>
    </div>
  </div>
  <div class="flex gap-3 bg-white px-5 py-4 rounded-md cita cursor-pointer shadow-md">
    <ul class="grid grid-cols-4">
      <li class="flex flex-col">
        <strong class="text-lg">Informacion general</strong>
        <strong class="text-lg font-serif">Fecha: </strong>20/05/2024
        <strong class="text-lg font-serif">Status: </strong> activa
        <strong class="text-lg font-serif">Solicitante: </strong> Mario Moreno Cantinflas
      </li>
      <li class="flex flex-col">
        <strong class="text-lg">Contacto</strong>
        <strong class="text-lg font-serif">Telefono:</strong>7891200315
        <strong class="text-lg font-serif">Email:</strong>mario{{"@"}}gmail.com
      </li>
      <li class="col-span-2">
        <div>
          <strong class="text-lg text-center">Asunto:</strong>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem iure incidunt, fugiat, temporibus eos
            ea a
            nisi adipisci, laboriosam nemo eligendi debitis! Cupiditate illum natus molestiae assumenda fugit dolorem
            nesciunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, suscipit voluptatem
            asperiores
            nobis voluptate quos deleniti eaque, deserunt dolorum quidem porro fuga placeat quisquam, et similique at
            cupiditate sed iure.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="flex gap-3 bg-white px-5 py-4 rounded-md cita cursor-pointer shadow-md">
    <ul class="grid grid-cols-4">
      <li class="flex flex-col">
        <strong class="text-lg">Informacion general</strong>
        <strong class="text-lg font-serif">Fecha: </strong>20/05/2024
        <strong class="text-lg font-serif">Status: </strong> activa
        <strong class="text-lg font-serif">Solicitante: </strong> Mario Moreno Cantinflas
      </li>
      <li class="flex flex-col">
        <strong class="text-lg">Contacto</strong>
        <strong class="text-lg font-serif">Telefono:</strong>7891200315
        <strong class="text-lg font-serif">Email:</strong>mario{{"@"}}gmail.com
      </li>
      <li class="col-span-2">
        <div>
          <strong class="text-lg text-center">Asunto:</strong>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem iure incidunt, fugiat, temporibus eos
            ea a
            nisi adipisci, laboriosam nemo eligendi debitis! Cupiditate illum natus molestiae assumenda fugit dolorem
            nesciunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, suscipit voluptatem
            asperiores
            nobis voluptate quos deleniti eaque, deserunt dolorum quidem porro fuga placeat quisquam, et similique at
            cupiditate sed iure.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="flex gap-3 bg-white px-5 py-4 rounded-md cita cursor-pointer shadow-md">
    <ul class="grid grid-cols-4">
      <li class="flex flex-col">
        <strong class="text-lg">Informacion general</strong>
        <strong class="text-lg font-serif">Fecha: </strong>20/05/2024
        <strong class="text-lg font-serif">Status: </strong> activa
        <strong class="text-lg font-serif">Solicitante: </strong> Mario Moreno Cantinflas
      </li>
      <li class="flex flex-col">
        <strong class="text-lg">Contacto</strong>
        <strong class="text-lg font-serif">Telefono:</strong>7891200315
        <strong class="text-lg font-serif">Email:</strong>mario{{"@"}}gmail.com
      </li>
      <li class="col-span-2">
        <div>
          <strong class="text-lg text-center">Asunto:</strong>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem iure incidunt, fugiat, temporibus eos
            ea a
            nisi adipisci, laboriosam nemo eligendi debitis! Cupiditate illum natus molestiae assumenda fugit dolorem
            nesciunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, suscipit voluptatem
            asperiores
            nobis voluptate quos deleniti eaque, deserunt dolorum quidem porro fuga placeat quisquam, et similique at
            cupiditate sed iure.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
