<div class=" flex flex-col gap-3 pb-5">
  <div class="bg-white p-4 rounded-sm flex justify-between items-center">
    <div class="flex gap-2 items-center">
      <p>Ordenar por:</p>
      <select name="" id="" class="rounded-md">
        <option value="">Mas nuevas</option>
        <option value="">Mas antiguas</option>
      </select>
    </div>
    <div class="flex gap-2">
      <button routerLink="/admin/dashboard/add-noticia" class="py-2 px-3 bg-blue-600 text-white rounded-md hover:bg-blue-400 flex items-center gap-2">
        <li class="pi pi-plus"></li>Agregar nueva noticia
      </button>
    </div>
  </div>

  <div class="flex gap-3 bg-white px-5 py-4 rounded-md cita cursor-pointer shadow-md items-center" *ngFor="let item of dataNoticias">
    <div class="flex w-full justify-between">
      <div class="flex gap-3">
        <img [src]="item.img" alt="" class="w-32">
        <ul class="flex flex-col gap-3">
          <li class="text-xl font-bold">{{item.titulo}}</li>
          <li><strong>Fecha:</strong> {{item.fecha}}</li>
          <li><strong>Autor:</strong> {{item.autor}}</li>
          <li><strong>Estado:</strong> {{item.status}}</li>
        </ul>
      </div>
      <div class="flex gap-3 items-center">
        <button routerLink="/admin/dashboard/edit-noticia/{{item.id}}" class="py-2 px-3 bg-blue-600 text-white rounded-md hover:bg-blue-400 flex items-center gap-2">
          <li class="pi pi-pen-to-square"></li>Editar
        </button>
        <button (click)="deleteNoticia(item.id)" class="py-2 px-3 bg-red-600 text-white rounded-md hover:bg-red-400 flex items-center gap-2">
          <li class="pi pi-times"></li>Eliminar
        </button>
        <button (click)="desactivateNoticia(item.id)" *ngIf="item.status === 'activo'" class="py-2 px-3 bg-yellow-400 text-white rounded-md hover:bg-yellow-200 flex items-center gap-2">
          <li class="pi pi-eye-slash"></li>Desactivar
        </button>
        <button (click)="activateNoticia(item.id)" *ngIf="item.status !== 'activo'" class="py-2 px-3 bg-green-400 text-white rounded-md hover:bg-green-200 flex items-center gap-2">
          <li class="pi pi-eye"></li>Activar
        </button>
      </div>
    </div>
  </div>

</div>
