<div>
  <img src="../../../../assets/img/servicios.png" alt="servicios" class="w-full">
</div>
<div>
  <div class="mt-10">
    <div class="flex justify-center items-center gap-3 mb-8">
      <img src="../../../../assets/img/flaticon.png" alt="">
      <h2 class="text-5xl font-serif text-blue-900">Servicios</h2>
    </div>
  </div>

  <div class="mx-10 grid grid-cols-2 gap-5">

    <div class="flex mb-10">
      <img src="../../../../assets/img/incognita.png" alt="" class="h-24 rounded-md">
      <div>
        <h3 class="font-bold text-xl text-blue-900">Titulo del servicio</h3>
        <p class="text-blue-800 font-semibold">Objetivo general</p>
        <p class="text-gray-500 text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa ipsam dicta
          totam, labore laboriosam
          distinctio explicabo ut ullam magni placeat beatae sunt quibusdam natus dolores odit sapiente quia esse
          consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cum optio nemo reprehenderit
          explicabo veritatis quos excepturi corporis facilis, ipsam itaque nisi aliquid porro quo sint delectus
          voluptatibus eum quibusdam? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta voluptates
          reprehenderit illum placeat facilis dolorum ratione veritatis voluptate. Quo repudiandae corporis ipsam
          reprehenderit repellendus aperiam magnam non reiciendis sint quisquam.</p>
      </div>
    </div>

    <div class="flex mb-10">
      <img src="../../../../assets/img/incognita.png" alt="" class="h-24 rounded-md">
      <div>
        <h3 class="font-bold text-xl text-blue-900">Titulo del servicio</h3>
        <p class="text-blue-800 font-semibold">Objetivo general</p>
        <p class="text-gray-500 text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa ipsam dicta
          totam, labore laboriosam
          distinctio explicabo ut ullam magni placeat beatae sunt quibusdam natus dolores odit sapiente quia esse
          consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cum optio nemo reprehenderit
          explicabo veritatis quos excepturi corporis facilis, ipsam itaque nisi aliquid porro quo sint delectus
          voluptatibus eum quibusdam? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta voluptates
          reprehenderit illum placeat facilis dolorum ratione veritatis voluptate. Quo repudiandae corporis ipsam
          reprehenderit repellendus aperiam magnam non reiciendis sint quisquam.</p>
      </div>
    </div>

    <div class="flex mb-10">
      <img src="../../../../assets/img/incognita.png" alt="" class="h-24 rounded-md">
      <div>
        <h3 class="font-bold text-xl text-blue-900">Titulo del servicio</h3>
        <p class="text-blue-800 font-semibold">Objetivo general</p>
        <p class="text-gray-500 text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa ipsam dicta
          totam, labore laboriosam
          distinctio explicabo ut ullam magni placeat beatae sunt quibusdam natus dolores odit sapiente quia esse
          consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cum optio nemo reprehenderit
          explicabo veritatis quos excepturi corporis facilis, ipsam itaque nisi aliquid porro quo sint delectus
          voluptatibus eum quibusdam? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta voluptates
          reprehenderit illum placeat facilis dolorum ratione veritatis voluptate. Quo repudiandae corporis ipsam
          reprehenderit repellendus aperiam magnam non reiciendis sint quisquam.</p>
      </div>
    </div>

    <div class="flex mb-10">
      <img src="../../../../assets/img/incognita.png" alt="" class="h-24 rounded-md">
      <div>
        <h3 class="font-bold text-xl text-blue-900">Titulo del servicio</h3>
        <p class="text-blue-800 font-semibold">Objetivo general</p>
        <p class="text-gray-500 text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa ipsam dicta
          totam, labore laboriosam
          distinctio explicabo ut ullam magni placeat beatae sunt quibusdam natus dolores odit sapiente quia esse
          consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cum optio nemo reprehenderit
          explicabo veritatis quos excepturi corporis facilis, ipsam itaque nisi aliquid porro quo sint delectus
          voluptatibus eum quibusdam? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta voluptates
          reprehenderit illum placeat facilis dolorum ratione veritatis voluptate. Quo repudiandae corporis ipsam
          reprehenderit repellendus aperiam magnam non reiciendis sint quisquam.</p>
      </div>
    </div>

  </div>
</div>
