<div>
  <img src="../../../../assets/img/servicios.png" alt="servicios" class="w-full">
  <div class="mt-10">
    <div class="flex justify-center items-center gap-3 mb-8">
      <img src="../../../../assets/img/flaticon.png" alt="">
      <h2 class="text-5xl font-serif text-blue-900">Contacto</h2>
    </div>
  </div>
 <div class="flex justify-center">
  <form class="bg-gray-200 p-8 lg:w-2/5 rounded-md flex flex-col gap-3">
    <div class="flex flex-col">
      <label for="nombre" class="text-lg">Nombre</label>
      <input type="text" placeholder="Ejem.Juan perez" class="rounded-md">
    </div>
    <div class="flex flex-col">
      <label for="email" class="text-lg">Correo electronico</label>
      <input type="email" placeholder="Ejem.Juan@gmail.com" class="rounded-md">
    </div>
    <div class="flex flex-col">
      <label for="telefono" class="text-lg">Numero de telefono</label>
      <input type="number" placeholder="Ejem.7894561230" class="rounded-md">
    </div>
    <div class="flex flex-col">
      <label for="asunto" class="text-lg">Asunto</label>
      <textarea name="asunto" id="" cols="30" rows="10" placeholder="Asunto..." class="rounded-md"></textarea>
    </div>
    <div>
      <button class="px-3 py-2 bg-blue-700 text-white rounded-md" type="submit">Enviar</button>
    </div>
  </form>
 </div>
</div>
